@import './props';

a {
	text-decoration: none;
	color: inherit;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
 	-webkit-appearance: none; 
}

.input {
	font-family: $primary-font;
	font-size: 14px;
	border: 1px solid $border-color;
	border-radius: 2px;
	padding: 5px 10px;
	box-sizing: border-box;

	&:focus {
		outline: none;
	}
}