$gutter: 20px;

// Fonts
$body-font: 'Open Sans', sans-serif;
$primary-font: 'Lato', sans-serif;
$secondary-font: 'Roboto', sans-serif;

// Border
$border-radius: 5px;
$border-color: #dfdfdf;

// Colors
$red: #ff5a5f;
$blue: #0088ce;
$pink: #cc0066;
$yellow: #eeaa44;
$gray: #312f2f;
$d-gray: #676767;
$l-gray: #a7a2a0;
$green: #2fa873;
$white: #ffffff;
$body: #f5f5f5;

// Break Points
$monitor: 1280px;
$tablet: 960px;
$phone: 600px;

